/* Variables and mixins declared here will be available in all other SCSS files */
$background-color: #191919;
$foreground-color: #0d9e51;
$white: #fff;
$black: #000;
$red : #cc1212;
$yellow: #e8d20e;
$green: #00bc03;