/* Variables and mixins declared here will be available in all other SCSS files */
$background-color: #1e5235;
$foreground-color: #0fc637;
$white: #fff;
$black: #000;
$gray: #191919;
$red : #cc1212;
$yellow: #e8d20e;
$green: #00bc03;